{% extends 'perris/base.html' %}
{% block content %}
<div class="container">
	<h1 class="titulo-agregar-perro">Agregar Perro Rescatado</h1>
	<div class="row formulario">
	<div class="col-lg-6">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' class="save btn btn-primary">Guardar</button>

    </form>	

    <a href="{%  url 'adm.inicio' %}" class="btn btn-dark" >Cancelar</a>
    </div>
 
</div>
</div>
{% endblock %}